{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="loginWrapper">
        <div class="wrapper shadow bg-white rounded">
            <svg viewBox="0 0 500 200">
                <path d="M 0 50 C 150 150 300 0 500 80 L 500 0 L 0 0" fill="rgb(57, 27, 112)"></path>
                <path d="M 0 50 C 150 150 330 -30 500 50 L 500 0 L 0 0" fill="#0E7452" opacity="0.8"></path>
                <path d="M 0 50 C 215 150 250 0 500 100 L 500 0 L 0 0" fill="#0E7452" opacity="0.5"></path>
            </svg>
            <h1>Adventify!</h1>
            <br>
            <form method="post" class="loginform">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-success">Log In</button>
            </form>
        </div>

    </div>

{% endblock %}