

html, body {
    height: 100%;
    margin: 0;
}
.loginWrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    height: 100vh;
    margin: 0;
    width: auto;
    background-color: antiquewhite;
    overflow: scroll;

}

.tile{
    background-color: white;
    border-radius: 20px;
    display: flex;
    padding: 1vw;
    align-items: center;
    flex-direction: column;
    max-height: 1700px;
    max-width: 1800px;
    justify-content: center;

}

.custom-card-footer{
    padding: 0.75rem 1.25rem;
}

.plan-container{
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 100vh;
}

.custom-card-container{
    width: 100%;
    min-height: 250px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.newItineraryContainer {
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 1%;
    margin: 1%;
    align-items: center;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
}

/*to hide the scrollbars*/
::-webkit-scrollbar {
    display: none;
}
.custom-card{
    min-width: 300px !important;
    margin-left: 10px;
    margin-right: 10px;
}

.custom-container{
    border-width:2px;
    border-radius: 5px;
    border-color: bisque;
}

.custom_button{
    background-color: bisque !important;
    border-radius: 20px;
    border-color: bisque !important;
}

.leaflet-container {  /* all maps */
        width:  100%;
        height: 400px;
    }

 #specialbigmap {
        height: 800px;
    }
.wrapper{
    max-width: 400px;
    max-height: 600px;
    padding: 0 30px 70px 30px;
}
 .icon-style{
     width: 10vw;
     height: 10vw;
     max-height: 300px;
     max-width: 300px;
     opacity: 0.8;
     fill: bisque;
 }


 .custom_border {
     border-radius: 10px !important;
     border-color: bisque !important;
 }

.itinerary-container { grid-area: itinerarylist; }
.map-container { grid-area: map; }
.main-container { grid-area: main; }

.grid-container {
    padding: 5% 20px 20px 20px;
    width: 100%;
    max-width: 1800px;
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-areas:
    'map map map map itinerarylist itinerarylist'
    'main main main main itinerarylist itinerarylist';
}

@media (max-width: 850px) {
    .grid-container{
       display: flex;
        flex-direction: column;
        padding: 8vh 20px 20px 20px;

    }
}

