.leaflet-container-default{
    float: right;
    width: 75%;
}

#main{
    margin-top: 20px;
}

.itinerary-container { grid-area: itinerarylist; }
.map-container { grid-area: map; }
.main-container { grid-area: main; }


.grid-container {
    padding: 20px;
    width: 100%;
    height: 100%;
  grid-template-areas:
    'map map map map itinerarylist itinerarylist'
    'main main main main itinerarylist itinerarylist';
}